<div class="text-layout">
    <h1>Pipes básicos</h1>
    <p>pipes incluidos en Angular. Usualmente en el commonModule</p>
</div>


<div class="grid">

    <div class="col-6 text-layout" >
        <h3 class="text-layout">I18nPluralPipe</h3>
        <p> Actualmente {{clientes.length | i18nPlural:clientesMap}} </p>
        <button pButton type="button" class="p-button-danger" (click)="borrarCliente()">Borrar cliente</button>
       
    </div>


    <div class="col-6" class="text-layout">
        <h3 class="text-layout">keyValue Pipe</h3>
        <ul>
            <li *ngFor="let item of persona | keyvalue">
                {{item.key}} : {{item.value}}
            </li>
        </ul>
        
    </div>


    <div class="col-6" class="text-layout">
        <h3 class="text-layout">Json Pipe</h3>
     
        {{persona | json}}
        
    </div>
</div>
